/* Style the header with a grey background and some padding */

body {
    margin: 0;
}

nav {
    display: flex;
    background-color: black;
    padding: 20px 0;
    color: white;
}


/* Style the header links */

nav a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

nav .logo {
    display: flex;
    margin: 0 5%;
    width: 33%;
    font-size: 25px;
    font-weight: bold;
    justify-content: left;
}

nav .menu {
    display: flex;
    width: 67%;
    justify-content: flex-end;
    margin: 0 5%;
}

nav .menu a {
    margin: 0 20px;
}

.content {
    margin: 5%;
}


/* Change the background color on mouse-over */


/* Style the active/current link*/


/* Float the link section to the right */


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 500px) {}